# VS Code Configuration
.vscode

# Kotlin
META-INF/
*.kotlin_module

# Python
*.py[cod]
__pycache__/
dist
build

# C/C++
a.out

# Java
*.jar
*.class

# Dart
*.dart_tool/
*.packages
*.pub-cache/

# Rust
target/

# Node.js
node_modules/

# macOS specific
.DS_Store

# Binary files
prog69
